$background-colour            : #1a2b2c;
$section-colour               : #e0dede;
$section-colour-text          : #2a2b2c;
$basic-colour                 : #d0b88d;
$footer-height                : 80px;
