html {
    background-color: black;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    cursor: pointer;
    text-decoration: none;

    .logo {
        height: 60vh;
    }
}
