* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-section {
    background: $background-colour;
    color: $primary-colour;
    text-align: justify;
    width: 100%;
    min-height: 83vh;
    line-height: 25px;
    padding: 60px 0px;

    @include respond-to(lg) {
        padding: 50px 0px;
    }

    @include respond-to(md) {
        padding: 40px 0px;
    }

    @include respond-to(sm) {
        line-height: 25px;
        padding: 35px 0px;
    }

    @include respond-to(xs) {
        padding: 30px 0px;
    }
}
