* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.main-section {
    @extend %section-align;
    background: $section-colour;
    color: $section-colour-text;
    text-align: justify;
    width: 100%;
    min-height: 83vh;
    line-height: 30px;
    padding: 60px 150px;

    @include respond-to(lg) {
        padding: 50px 120px;
    }

    @include respond-to(md) {
        padding: 40px 100px;
    }

    @include respond-to(sm) {
        line-height: 25px;
        padding: 35px 80px;
    }

    @include respond-to(xs) {
        padding: 30px 50px;
    }
}
